body{
    margin: 0;
    padding: 0;
    
    
}
#head{
    height: 44px;
    position: relative;
    
}
#header form{
    position: absolute;
    top: 12px;
    right:10px;
    border: 1px solid #363739;
    border-radius: 50px;
    background: -webkit-linear-gradient(top,#345c3d 0%,#424447 100%);
    padding: 0;
    margin: 0;
    height: 18px;
}
#header form input{
    border-radius: 50px;
    border: none;
    height: 18px;
    outline: none;
}